{% extends 'base.html' %}
{% block content %}
{% load static %}
       <!-- Product Details Area Start -->
       <div class="product-details-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                    <!-- Swiper -->
                    <div class="swiper-container zoom-top">
                        <div class="swiper-wrapper">
                            {% for i in prod.images_set.all %}
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/{{i.image}}" alt="">
                                <a class="venobox full-preview" data-gall="myGallery" href="/{{i.image}}">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-container mt-20px zoom-thumbs slider-nav-style-1 small-nav">
                        <div class="swiper-wrapper">
                            {% for i in prod.images_set.all %}
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/{{i.image}}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-buttons">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-details-content quickview-content ml-25px">
                        <h2>{{prod.name}}</h2>
                        <div class="pricing-meta">
                            <ul class="d-flex">
                                <li class="new-price">{{prod.price}}</li>
                            </ul>
                        </div>
                        
                        <p class="mt-30px">{{prod.description | truncatewords:10 | safe}}</p>
                        
                        <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                            <span>Categories: </span>
                            <ul class="d-flex">
                                <li>
                                    <a href="#">{{prod.categories}}</a>
                                </li>
                                >
                            </ul>
                        </div>
                        <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                            <span>Tags: </span>
                            <ul class="d-flex">
                                <li>
                                    {% for i in prod.tag_set.all %}
                                    <a href="#">{{i.name}} ,</a>
                                    {% endfor %}
                                </li>
                                
                            </ul>
                        </div>
                        <div class="pro-details-quality">
                            
                            <div class="pro-details-cart">
                                <button class="add-cart">
                                  
                                   <!-- singleproduct.html -->

<a href="{% url 'cart_add' prod.id %}" class="btn btn-primary">Add To Cart</a>

                                 
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <!-- product details description area start -->
                    <div class="description-review-wrapper">
                        <div class="description-review-topbar nav">
                            <button data-bs-toggle="tab" data-bs-target="#des-details2">Information</button>
                            <button class="active" data-bs-toggle="tab" data-bs-target="#des-details1">Description</button>
                            
                        </div>
                        <div class="tab-content description-review-bottom">
                            <div id="des-details2" class="tab-pane">
                                <div class="product-anotherinfo-wrapper text-start">
                                    <ul>
                                        <li>{{prod.information | safe}}</li>
                                      
                                    </ul>
                                </div>
                            </div>
                            <div id="des-details1" class="tab-pane active">
                                <div class="product-description-wrapper">
                                    <p>
                                        {{prod.description | truncatewords:50 | safe}}
                                    </p>
                                </div>
                            </div>
                           
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}